<!-- ~/Programming/Intro to Microservices/templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div>Hello, {{ .Name }} </div>
    <a onclick="openInNewTab('/pointers')" href = "/" >Intro to Pointers</a> 
    <script>
        function openInNewTab(url) {
            window.open(url, '_blank').focus();
        }
    </script>
</body>
</html>

