<!-- ~/Programming/Intro to Microservices/templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
    <!-- Load the element definition -->
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>
</head>
<body>
    <div>Hello, {{ .Name }}</div>
    <button id="myButton">Click Me</button>
    <zero-md src="/static/pointers.md"></zero-md>
    <script src="/static/script.js"></script>
</body>
</html>

